# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/freshmilk


# JWT
JWT_SECRET=7de2d11e8bf48d4a1f310bf8de1a7d64caded26323bae27f94bcf4e7e9bfe6ed
ACCESS_TOKEN_EXPIRE_MINUTES=43200


# SMS API
SMS_API_KEY=2I8SCYCx7t44o0hAOa8w3Yk1WVSN5ymPhzujN9HQ
SMS_API_URL=https://api.sms.net.bd/sendsms


# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5674
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123
